// .base-wrapper {
//     min-height: 900px;
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-start;  
// }

.base {
    min-height: 900px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // margin-left: 40px;
    // margin-right: 40px;
}

.base > h1 {
    margin-top: 60px;
    margin-left: 10px;
    position: fixed;
    z-index: 3;
}

.base > ul {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 150px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}