#root {
    background-color: #141414;
}

.video-list-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 130px;
    padding: 20px;
}

.video-list-wrapper > h2 {
    font-size: 17px;
    margin-bottom: 13px;
    color: #e5e5e5;
}

.video-list {
    background-color: transparent;
    height: 130px;
    display: flex;
    justify-content: center;
}

.video-list > ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}

.video-list > ul > li {
    height: 100%;
    width: 200px;
}

.video-list > i {
    background: transparent;
    // position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    opacity: 0;
}

.video-list:hover .slider-left {
    opacity: 1;
}

.video-list:hover .slider-right {
    opacity: 1;
}

.fa-chevron-left,
.fa-chevron-right {
    width: 20px;
}