.video-index-item {
    min-width: 250px;
    border: 2px solid #141414; 
    border-top: none;
    position: relative;
    background-color: #141414;
}

.video-index-button-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
    background: transparent;
}

.video-index-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 385px;
    height: 185px;
}

.video-index-bottom {
    display: flex;
    justify-content: center;
    width: 200px;
}

.video-index-bottom > i {
    display: flex;
    justify-content: center;
    z-index: 3;
    margin-bottom: 3px;
}

.video-index-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 3%;
    z-index: 3;
}

.video-index-right {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-right: 10px;
    z-index: 3;
    padding-top: 10px;
}

.video-index-item:hover {
    min-width: 400px;
    height: auto;
    transition-duration: 1s;
    cursor: pointer;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    overflow: visible;
}

@keyframes video-buttons {
    from {opacity:0;}
    to {opacity:1;}
    from {z-index: 0;}
    to {z-index:1;}
}

.video-index-item:hover .video-index-button-wrapper {
    animation-name: video-buttons;
    animation-duration: 1s;
    display: flex;
}

.video-index-bottom:hover > i{
    color: #ff0a16;
}

// .video-index-bottom:focus .video-index-item {
//     border: 1px solid #fff;
// }


.video-index-wrapper {
    position: relative;
}

.vsc-controller {
    display:none;
}

.fa-play-circle {
    color: #ff0a16;
}

.title {
    text-shadow: 1px, 1px, #000;
    font-size: 17px;
}

.rating {
    border: 1px solid #fff;
    font-size: 13px;
    width: 40px;
    text-align: center;
    background-color: rgba(0,0,0,.3)
}

