#movie {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    right: 0;
    bottom: 0;
}

#movie > Link {
    position: absolute;
    top: 25px;
    left: 25px;
    color: #fff;
}

#movie > div > h3 {
    position: fixed;
    bottom: 15px;
    background: transparent;
    color: #fff;
    width: 100%;
}

#movie > div > button {
  width: 35px;
  height: auto;
  font-size: 18px;
  padding: 10px;
  background: transparent;
  color: #fff;
  cursor: pointer;
}

#movie > button:hover {
  transition: .3s;
  width: 50px;
  height: auto;
}