.movie {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    background-color: #000;
    right: 0;
    bottom: 0;
}

.movie > .back-to-browse {
    position: absolute;
    top: 25px;
    left: 25px;
    color: #fff;
    z-index: 4;
    background-color: transparent;
}

.movie > .back-to-browse:hover {
  transition: .3s;
  width: 575px;
  height: auto;
}

.movie > video {
  min-width: 100%;
  min-height: auto;
  z-index: 3;
}