body {
    background-image: url(/assets/landingpage.jpg);
    font-family: 'Bebas Neue';
}

.landing-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
}

.landing-content > p {
    color: #E50914;
    font-family: 'Bebas Neue';
    font-size: 50px;
    font-weight: bold;
    text-shadow: 10px;
}

.landing-elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.landing-elements  > h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 325%;
    font-weight: 100%;
    text-shadow: 5px;
}

.landing-elements > h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 5px;
}

.landing-elements > button {
    display: flex-end;
    background-color: #E50914;
    padding: 10px;
}

.landing-elements > .signup-button {
    background-color: #E50914;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    padding: 10px;
    margin: 5px;
}

.landing > .signin-button {
    background-color: #E50914;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    border-radius: 5px;
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 10px;
}

