body {
    background-image: url(/assets/landingpage.jpg);
}


.landing-elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.landing-elements  > h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 325%;
    font-weight: 100%;
    text-shadow: 3px;
}

.landing-elements > h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 3px;
}

.landing-elements > button {
    display: flex-end;
    background-color: red;
    padding: 10px;
    // margin: px;
}

.landing-elements > .signup-button {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    padding: 10px;
    margin: 5px;
}

.landing > .signin-button {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    border-radius: 5px;
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 10px;
}

