.session {
    background-image: url(/assets/landing_page.jpg);
    font-family: 'Bebas Neue';
    height: 900px;
}


.session > header > p {
    color: #E50914;
    font-family: 'Bebas Neue';
    font-size: 300%;
    font-weight: bold;
    text-shadow: 10px;

}

.session-center {
    display: flex;
    justify-content: center;
    // align-items: center;
    height: 850px;
}

.session-form {
    background-color: rgba(0,0,0,0.75);
    height: 660px;
    width: 450px;
    border-radius: 4px;
    margin-top: 20px;
    padding: 70px;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
}

.session-form > form {
    display: flex;
    flex-direction: column;
    opacity: 1.0;
}

.session-form > form > input[type="submit"] {
    background-color: #E50914;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    padding: 8px;
    margin: 5px;
    opacity: 1.0;
}

.session-form > h3 {
    opacity: 1.0;
    font-size: 38px;
}

.session-form > ul {
    color: red;
    opacity: 1.0;
}

.session-form > p {
    opacity: 1.0;
    color: lightgray;
}

.email {
    background-color: rgb(49, 47, 47);
    width: 350px;
    margin: 10px;
    padding: 15px;
    border-radius: 4px;
}

.password {
    background: rgb(49, 47, 47);
    width: 350px;
    margin: 10px;
    padding: 15px;
    border-radius: 4px;
}