.session {
    background-image: image-url('landing_page.jpg');
}

.background-image-wrapper {
    background-image: radial-gradient(ellipse, transparent, black 85%);
    height: 1000px;
}

.background-image-wrapper > header > .logo {
    margin-left: 40px;
}

.session-center {
    display: flex;
    justify-content: center;
    height: 923px;
}

.session-form {
    background-color: rgba(0,0,0,0.75);
    height: 558px;
    width: 314px;
    border-radius: 4px;
    margin-top: 12px;
    padding: 60px 68px 40px;
}

.session-form > form {
    display: flex;
    flex-direction: column;
    opacity: 1.0;
}

.session-form > form > input[type="submit"] {
    background-color: #E50914;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700px;
    font-size: 16px;
    width: 285px;
    border-radius: 4px;
    padding: 15px;
    margin-top: 43px;
    opacity: 1.0;
}

.session-form > h1 {
    opacity: 1.0;
    font-size: 32px;
    font-weight: 700;
    margin-block-start: 0.67em;
    margin-top: 0px;
    margin-bottom: 28px;

}

.session-form > ul > li {
    color: rgb(238, 133, 14);
    opacity: 1.0;
}

.session-form > p {
    opacity: 1.0;
    color: gray;
    font-size: 16px;
    font-weight: 500;
    margin-top: 264px;
}

.session-form > p > .signup-tag:hover {
    text-decoration: underline;
}

.email > input {
    background: #333;
    width: 275px;
    height: 35px;
    line-height: 50px;
    margin-bottom: 16px;
    border-radius: 4px;
    padding: 16px 20px 0;
}

.email > input:focus {
    background-color: #454545;
}

.email:focus-within {
    background-color: #454545;
}

.password > input {
    background: #333;
    width: 275px;
    height: 35px;
    line-height: 50px;
    border-radius: 4px;
    padding: 16px 20px 0;
}

.password > input:focus {
    background-color: #454545;
}

.password:focus-within {
    background-color: #454545;
}

.session-form > nav {
    background-color: #E50914;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    border-radius: 5px;
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 10px;
}

.session-footer {
    display: flex;
    flex-direction: column;
}

.session-footer > nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
}