.main-footer {
    margin-top: 100px;
    background-color: #141414;
    height: 200px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 50px;
}

.main-footer > a {
    width: 50px;
}
