.main-header {
    background-color: transparent;
    height: 41px;
    z-index: 2;
}

.header-wrapper {
    background-color: black;
    height: 300px;
}

.main-header > nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-header > nav > div:first-child {
    display: flex;
}

.main-header > nav > div:first-child > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 12px;
}

.main-header > nav > div:first-child > ul > li {
    color: #e5e5e5;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 18px;
}

.main-header > nav > div:first-child > ul > li:hover {
    text-decoration: underline;
    color: #fff;
}

.main-header > nav > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo-main {
    height: 25px;
    width: 80px;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 3%;
}

.header-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    width: 100px;
    margin-right: 35px;
}

// .fa-search{
//     text-shadow: 0 1px 1px rgba(0,0,0,.3);
//     width: 15px;
//     height: 19px;
//     margin-top: 13px;
// }

#search-bar {
    width: 100px;
    height: 20px;
    background-color: white;
}

#search-bar > input:hover {
    cursor: pointer;
}

#search-bar:focus-within,
#search-bar > input:focus {
    transition: .75s;
    width: 300px;
    height: 40px;
    background-color: white;
    border: 2px solid #fff;
}

.nav-menu > img {
    width: 40px;
    height: auto;
}

.header-dropdown {
    position: relative;
    margin-left: 673px;
    margin-top: 17px;
    background-color: rgba(197, 42, 25, 0.3);
    width: 175px;
    font-size: 12px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    z-index: -1;
}

.header-dropdown > li {
    margin: 5px;
    padding: 5px;
}
