.main-header {
    background-color: transparent;
    height: 41px;
    z-index: 2;
}

.header-wrapper {
    background-color: transparent;
    height: 100%;
}

.main-header > nav {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main-header > nav > div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.main-header > nav > div:first-child > ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 375px;  
    flex-basis: auto;
}

.main-header > nav > div:first-child > ul > li {
    color: #e5e5e5;
    font-size: 12px;
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 20px;
}

.main-header > nav > div:first-child > ul > li:hover {
    text-decoration: underline;
    color: #fff;
}

.logo-main {
    height: 25px;
    width: 80px;
    margin-top: 4px;
    margin-right: 5px;
    margin-left: 3%;
}

.header-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 500px;
    margin-right: 35px;
}

.search-bar > i {
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    // width: 45px;
    height: auto;
    margin-left: 6px;
}

#search-bar {
    display: flex;
    flex-direction: row;
    width: 20px;
    height: 20px;
    background-color: transparent;
    margin-right: 15px;
}

#search-bar > input:hover {
    cursor: pointer;
}

#search-bar:focus {
    transition: .35s;
    width: 321px;
    height: 35px;
    font-size: 14px;
    background-color: black;
    border: .5px solid #fff;
    outline: 5px auto rgb(10, 64, 212);
    border-radius: 2px;
}

.nav-menu {
    width: 40px;
    height: 100%;
}

.nav-menu > img {
    width: 40px;
    height: auto;
    margin-right: 30px;
}

.header-dropdown {
    position: relative;
    margin-left: -135px;
    margin-top: 17px;
    background-color: rgba(197, 42, 25, 0.3);
    width: 175px;
    font-size: 12px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    z-index: -1;
}

.header-dropdown > li {
    margin: 5px;
    padding: 5px;
}

@media only screen and (max-width: 860px) {
//browse dropdown
}